<div class="container">
  <form autocomplete="false">

    <div class="gui">
      <div>
        <h1>Novo Lançamento</h1>
      </div>

      <div class="selection">
        <p-selectButton [options]="tipos" #tipo ></p-selectButton>
      </div>

      <div class="content-form">

        <div class="line-form-1">
          <div class="content-inputs">
            <label>Vencimento</label>
            <input pInputText type="text">
          </div>

          <div class="content-inpsuts">
            <label>{{tipo.value === 'RECEITA' ?'Recebimento':'Pagamento'}}</label>
            <input pInputText type="text">
          </div>
        </div>

        <div class="line-form-2">

          <div class="description">
            <label>Descrição {{ descricao.errors | json }}</label>
            <input class="input-desc" pInputText type="text" name="descricao" ngModel
            #descricao="ngModel" required minlength="5">

            <app-message [control]="descricao" error="required" text="Informe uma descricao"></app-message>
            <app-message [control]="descricao" error="minlength" text="Informe no mínimo 5 caracteres"></app-message>

          </div>

          <div class="value">
            <label>Valor</label>
            <p-inputNumber mode="decimal" [minFractionDigits]="2" name="valor" ngModel></p-inputNumber>
          </div>
        </div>

        <div class="line-form-3">
          <div class="content-3">
            <label>Categoria</label>
            <p-dropdown [options]="categoria" placeholder="Selecione"></p-dropdown>
            <!-- <select class="form-select">
              <option value=""></option>
            </select> -->
          </div>
          <div class="content-3">
            <label>Pessoa</label>
            <p-dropdown [options]="pessoa" [filter]="true" placeholder="Selecione"></p-dropdown>
            <!-- <select class="form-select">
              <option value=""></option>
            </select> -->
          </div>
        </div>

        <div class="line-form4">
          <div class="content-form">
            <label>Observação</label>
            <textarea pInputTextarea rows="3" style="resize: none;"></textarea>
          </div>
        </div>

        <div class="line-form-5">
          <button pButton type="submit" label="Salvar"></button>
          <button pButton type="button" label="Novo"></button>
          <a href="javascript:;">Voltar para pesquisa</a>
        </div>
      </div>

    </div>
  </form>
</div>
