<div class="container">

  <h1 style="margin-top: 16px;">Nova pessoa</h1>

  <form autocomplete="off">

    <div class="line-1">
      <label>Nome</label>
      <input pInputText type="text">
    </div>

    <div class="line-2">
      <div class="input-content" style="width: 70%;">
        <label >Logradouro</label>
        <input pInputText type="text">
      </div>

      <div class="input-content" style="width: 30%;">
        <label>Número</label>
        <input pInputText type="text">
      </div>
    </div>

    <div class="line-3">
      <div class="input-content">
        <label>Complemento</label>
        <input pInputText type="text">
      </div>

      <div class="input-content">
        <label>Bairro</label>
        <input pInputText type="text">
      </div>

      <div class="input-content">
        <label>Cep</label>
        <p-inputMask mask="99.99-999"></p-inputMask>
      </div>
    </div>

    <div class="line-4">
      <div class="input-content">
        <label for="">Cidade</label>
        <input pInputText type="text">
      </div>

      <div class="input-content">
        <label>Estado</label>
        <input pInputText type="text">
      </div>
    </div>

    <div class="line-form-5">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="button" label="Novo"></button>
      <a href="javascript:;">Voltar para pesquisa</a>
    </div>

  </form>

</div>
